body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color:#333;
}
h1{
    text-align:center;
    color:#2c3e50;
}
h2{
    color:#34495e;
}
nav{
    background-color:rgb(192, 206, 255);
    padding:10px;
    border-radius:8px;
}
nav ul{
    list-style-type:none;
}
nav ul li{
    display:inline;
    margin-right:10px;
}
nav ul li a{
    text-decoration:none;
    color:#2c3e50;
    font-weight:bold;
}
nav ul li a:hover{
    color:yellow;
}
form{
    background-color:white;
    padding:20px;
    border:1px solid black;
    box-shadow:0px 0px 10px gray;
}
input,select,textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:5px;
}
input:focus,
select:focus,
textarea:focus{
    border:2px solid navy;
}
button{
    background-color:navy;
    color:white;
    padding:10px 20px;
    border:1px solid black;
    border-radius:5px;
}
button:hover{
    background-color:darkblue;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: navy;
    color: white;
}

th, td {
    padding: 8px;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px gray;
}
img{
    border-radius:50%;
    border:2px solid #ccc;
}
.card {
    width: 200px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px gray;
    text-align: center;
}
.winner {
    background-color: lightgreen;
    border: 1px solid green;
    padding: 10px;
}
.progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}

.progress-bar {
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
}
.candidate1 {
    width: 50%;
    background-color: green;
}

.candidate2 {
    width: 30%;
    background-color: blue;
}

.candidate3 {
    width: 20%;
    background-color: orange;
}
@media screen and (max-width:768px){
    body{
        margin:10px;
    }
    nav ul li{
        display:block;
        margin:10px 0;
    }
    .card{
        width:90%;
        display:block;
        margin:10px auto;
    }
    table{
        font-size:14px;
    }
    button{
        width:100%;
        
    }
    img{
        width:120px;
        height:auto;
    }
}